<%- include('partials/header') %>

<div class="cat">
    <div class="cat-image">
        <img class="cat-image1" src="img1.jpg">

    </div>
    <div class="cat-content">
        <h1><a href="#">SHERVANI LEGACY 2BHK & 3BHK</a> </h1>
        <h3>CALL BEST DEALS AND BEST OFFERS</h3>
        <h3>₹ 68,00,000.00</h3>
        

    </div>
</div>

<div class="cat">
    <div class="cat-image">
        <img class="cat-image1" src="img2.jpg">

    </div>
    <div class="cat-content">
        <h1><a href="#">RISHITA GOLF RIDGE TOWER</a> </h1>
        <h3>CALL BEST DEALS AND BEST OFFERS</h3>
        <h3>₹ 4,200.00</h3>
        

    </div>
</div>

<div class="cat">
    <div class="cat-image">
        <img class="cat-image1" src="img3.jpg">

    </div>
    <div class="cat-content">
        <h1><a href="#">OKAS RESIDENCY LUCKNOW 2 & 3BHK</a> </h1>
        <h3>CALL BEST DEALS AND BEST OFFERS</h3>
        <h3>₹ 1,238.00</h3>
        

    </div>
</div>

<div class="cat">
    <div class="cat-image">
        <img class="cat-image1" src="img4.jpg">

    </div>
    <div class="cat-content">
        <h1><a href="#">OMAXE SHIVA</a> </h1>
        <h3>CALL BEST DEALS AND BEST OFFERS</h3>
        <h3>₹ 55,00,000.00</h3>
        

    </div>
</div>

<div class="cat">
    <div class="cat-image">
        <img class="cat-image1" src="img5.jpg">

    </div>
    <div class="cat-content">
        <h1><a href="#">OMAXE ANANDA - 2BHK & 3BHK</a> </h1>
        <h3>CALL BEST DEALS AND BEST OFFERS</h3>
        <h3>₹ 29,00,000.00</h3>
        

    </div>
</div>

   




<%- include('partials/footer') %>