<%- include('partials/header') %>
<div class="contact"> 
    <img src="contact.jpg" height="400px" width="100%"> 
    <span class="first-txt" style="font-size:300%;font-family:Copperplate,fantasy">Contact Us</span>
      
    <h3 class="second-txt"> 
        Please find below contact details for our offices in London and Monaco:
    </h3> 
</div> 
<center>
<div class="contact1">
    <div >
        <img src="contact1.jpg" height="155px" width="280px">

    </div>
    <div>
        <h2>UP Rera Consultant</h2> <br>
        <p>Estate agent, Property, Proprty service<br>
            Kalindipuram, Allahabad, Uttar Pradesh, India 211011
        </p><br>

    <p><a href="+911234567890">+911234567890</a><br>
        <a href="mailto">test@gmail.com</a><br>
        <a href="https://goo.gl/maps/QVHE3afdENqN9dLV6">Visit Us</a>
    </p>
    
    </div>
</div>
</center>

<%- include('partials/footer') %>