<%- include('partials/header') %>

<center>
    <table >
      
      <tr>
        <td><img class="image" src="logo.jpg"></td>
        <td> <h1 class="logo1">&nbsp;&nbsp;&nbsp;&nbsp;<em>UP RERA CONSULTANT</em></h1></td>
        
      </tr>
      
      </table>
     </center>

<div class="poster">
    <img src="poster.png" height="600px" width="400px">
</div>    

<div class="poster-contant">
<h1>Are you looking to sell or let your house, <br>and need a valuation?</h1>
<p>Book a valuation with our Sales or Lettings Team today.</p>

<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="Your Postcode">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>
</div>

<div class="container1">
  <div class="section1">
      <div class="contant1">
          <h1>About Pastor Real Estate</h1>
          <p>Pastor Real Estate is a premier independent estate agency in Prime Central London, with offices in Mayfair and Chelsea. The company has a longstanding and successful presence in these world-renowned communities. Part of the Monaco-based Pastor-group of companies, Pastor Real Estate has established a reputation for excellence throughout the luxury property market in London and is considered to be among the most reputable estate agents in London. The company prides itself on harnessing its impressive depth and breadth of specialised skills and experience to successfully serve the multi-faceted property needs of the exclusive locales that it represents within the Prime Central London market.</p>
      </div>
  </div>

  <div class="section1">
      <div class="contant1">
          <h1>Section two Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>

  <div class="section1">
      <div class="contant1">
          <h1>Section three Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>

  <div class="section1">
      <div class="contant1">
          <h1>Section four Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>

  <div class="section1">
      <div class="contant1">
          <h1>Section five Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>




<%- include('partials/footer') %>